'.source.bsl':
  'editor':
    'commentStart': '//'
    'tabLength': 4
    'tabType': 'hard'
    'foldEndPattern': '(?i)(^\\s*конецесли|^\\s*конеццикла|^\\s*конецпроцедуры|^\\s*конецпопытки|^\\s*конецфункции)'
    'increaseIndentPattern': '(?i)^\\s*\\b(пока|процедура|функция|если|иначе|иначеесли|попытка|исключение|для|while|procedure|function|if|else|elseif|try|for)\\b[^;]*$'
    'decreaseIndentPattern': '(?i)^\\s*\\b(конецесли|конеццикла|конецпроцедуры|конецфункции|иначе|иначеесли|конецпопытки|исключение|endif|enddo|endprocedure|endfunction|else|elseif|endtry|except)\\b.*$'
    'completions': [
        'ACos'
        'ASin'
        'ATan'
        'Base64Значение'
        'Base64Строка'
        'Cos'
        'Exp'
        'Log'
        'Log10'
        'Pow'
        'Sin'
        'Sqrt'
        'Tan'
        'XMLЗначение'
        'XMLСтрока'
        'XMLТип'
        'XMLТипЗнч'
        'АктивноеОкно'
        'БезопасныйРежим'
        'БезопасныйРежимРазделенияДанных'
        'Булево'
        'ВвестиДату'
        'ВвестиЗначение'
        'ВвестиСтроку'
        'ВвестиЧисло'
        'ВозможностьЧтенияXML'
        'Вопрос'
        'ВосстановитьЗначение'
        'ВРег'
        'ВыгрузитьЖурналРегистрации'
        'ВыполнитьОбработкуОповещения'
        'ВыполнитьПроверкуПравДоступа'
        'Вычислить'
        'Год'
        'ДанныеФормыВЗначение'
        'Дата'
        'День'
        'ДеньГода'
        'ДеньНедели'
        'ДобавитьМесяц'
        'ЗаблокироватьДанныеДляРедактирования'
        'ЗаблокироватьРаботуПользователя'
        'ЗавершитьРаботуСистемы'
        'ЗагрузитьВнешнююКомпоненту'
        'ЗакрытьСправку'
        'ЗаписатьJSON'
        'ЗаписатьXML'
        'ЗаписатьДатуJSON'
        'ЗаписьЖурналаРегистрации'
        'ЗаполнитьЗначенияСвойств'
        'ЗапроситьРазрешениеПользователя'
        'ЗапуститьПриложение'
        'ЗапуститьСистему'
        'ЗафиксироватьТранзакцию'
        'ЗначениеВДанныеФормы'
        'ЗначениеВСтрокуВнутр'
        'ЗначениеВФайл'
        'ЗначениеЗаполнено'
        'ЗначениеИзСтрокиВнутр'
        'ЗначениеИзФайла'
        'ИзXMLТипа'
        'ИмпортМоделиXDTO'
        'ИмяКомпьютера'
        'ИмяПользователя'
        'ИнициализироватьПредопределенныеДанные'
        'ИнформацияОбОшибке'
        'КаталогВременныхФайлов'
        'КаталогДокументов'
        'КаталогПрограммы'
        'КодироватьСтроку'
        'КодЛокализацииИнформационнойБазы'
        'КодСимвола'
        'КомандаСистемы'
        'КонецГода'
        'КонецДня'
        'КонецКвартала'
        'КонецМесяца'
        'КонецМинуты'
        'КонецНедели'
        'КонецЧаса'
        'КонфигурацияБазыДанныхИзмененаДинамически'
        'КонфигурацияИзменена'
        'КопироватьДанныеФормы'
        'КопироватьФайл'
        'КраткоеПредставлениеОшибки'
        'Лев'
        'Макс'
        'МестноеВремя'
        'Месяц'
        'Мин'
        'Минута'
        'МонопольныйРежим'
        'Найти'
        'НайтиНедопустимыеСимволыXML'
        'НайтиОкноПоНавигационнойСсылке'
        'НайтиПомеченныеНаУдаление'
        'НайтиПоСсылкам'
        'НайтиФайлы'
        'НачалоГода'
        'НачалоДня'
        'НачалоКвартала'
        'НачалоМесяца'
        'НачалоМинуты'
        'НачалоНедели'
        'НачалоЧаса'
        'НачатьЗапросРазрешенияПользователя'
        'НачатьЗапускПриложения'
        'НачатьКопированиеФайла'
        'НачатьПеремещениеФайла'
        'НачатьПодключениеВнешнейКомпоненты'
        'НачатьПодключениеРасширенияРаботыСКриптографией'
        'НачатьПодключениеРасширенияРаботыСФайлами'
        'НачатьПоискФайлов'
        'НачатьПолучениеКаталогаВременныхФайлов'
        'НачатьПолучениеКаталогаДокументов'
        'НачатьПолучениеРабочегоКаталогаДанныхПользователя'
        'НачатьПолучениеФайлов'
        'НачатьПомещениеФайла'
        'НачатьПомещениеФайлов'
        'НачатьСозданиеКаталога'
        'НачатьТранзакцию'
        'НачатьУдалениеФайлов'
        'НачатьУстановкуВнешнейКомпоненты'
        'НачатьУстановкуРасширенияРаботыСКриптографией'
        'НачатьУстановкуРасширенияРаботыСФайлами'
        'НеделяГода'
        'НеобходимостьЗавершенияСоединения'
        'НомерСеансаИнформационнойБазы'
        'НомерСоединенияИнформационнойБазы'
        'НРег'
        'НСтр'
        'ОбновитьИнтерфейс'
        'ОбновитьНумерациюОбъектов'
        'ОбновитьПовторноИспользуемыеЗначения'
        'ОбработкаПрерыванияПользователя'
        'ОбъединитьФайлы'
        'Окр'
        'ОписаниеОшибки'
        'Оповестить'
        'ОповеститьОбИзменении'
        'ОтключитьОбработчикЗапросаНастроекКлиентаЛицензирования'
        'ОтключитьОбработчикОжидания'
        'ОтключитьОбработчикОповещения'
        'ОткрытьЗначение'
        'ОткрытьИндексСправки'
        'ОткрытьСодержаниеСправки'
        'ОткрытьСправку'
        'ОткрытьФорму'
        'ОткрытьФормуМодально'
        'ОтменитьТранзакцию'
        'ОчиститьЖурналРегистрации'
        'ОчиститьНастройкиПользователя'
        'ОчиститьСообщения'
        'ПараметрыДоступа'
        'ПерейтиПоНавигационнойСсылке'
        'ПереместитьФайл'
        'ПодключитьВнешнююКомпоненту'
        'ПодключитьОбработчикЗапросаНастроекКлиентаЛицензирования'
        'ПодключитьОбработчикОжидания'
        'ПодключитьОбработчикОповещения'
        'ПодключитьРасширениеРаботыСКриптографией'
        'ПодключитьРасширениеРаботыСФайлами'
        'ПодробноеПредставлениеОшибки'
        'ПоказатьВводДаты'
        'ПоказатьВводЗначения'
        'ПоказатьВводСтроки'
        'ПоказатьВводЧисла'
        'ПоказатьВопрос'
        'ПоказатьЗначение'
        'ПоказатьИнформациюОбОшибке'
        'ПоказатьНаКарте'
        'ПоказатьОповещениеПользователя'
        'ПоказатьПредупреждение'
        'ПолноеИмяПользователя'
        'ПолучитьCOMОбъект'
        'ПолучитьXMLТип'
        'ПолучитьАдресПоМестоположению'
        'ПолучитьБлокировкуСеансов'
        'ПолучитьВремяЗавершенияСпящегоСеанса'
        'ПолучитьВремяЗасыпанияПассивногоСеанса'
        'ПолучитьВремяОжиданияБлокировкиДанных'
        'ПолучитьДанныеВыбора'
        'ПолучитьДополнительныйПараметрКлиентаЛицензирования'
        'ПолучитьДопустимыеКодыЛокализации'
        'ПолучитьДопустимыеЧасовыеПояса'
        'ПолучитьЗаголовокКлиентскогоПриложения'
        'ПолучитьЗаголовокСистемы'
        'ПолучитьЗначенияОтбораЖурналаРегистрации'
        'ПолучитьИдентификаторКонфигурации'
        'ПолучитьИзВременногоХранилища'
        'ПолучитьИмяВременногоФайла'
        'ПолучитьИмяКлиентаЛицензирования'
        'ПолучитьИнформациюЭкрановКлиента'
        'ПолучитьИспользованиеЖурналаРегистрации'
        'ПолучитьИспользованиеСобытияЖурналаРегистрации'
        'ПолучитьКраткийЗаголовокПриложения'
        'ПолучитьМакетОформления'
        'ПолучитьМаскуВсеФайлы'
        'ПолучитьМаскуВсеФайлыКлиента'
        'ПолучитьМаскуВсеФайлыСервера'
        'ПолучитьМестоположениеПоАдресу'
        'ПолучитьМинимальнуюДлинуПаролейПользователей'
        'ПолучитьНавигационнуюСсылку'
        'ПолучитьНавигационнуюСсылкуИнформационнойБазы'
        'ПолучитьОбновлениеКонфигурацииБазыДанных'
        'ПолучитьОбновлениеПредопределенныхДанныхИнформационнойБазы'
        'ПолучитьОбщийМакет'
        'ПолучитьОбщуюФорму'
        'ПолучитьОкна'
        'ПолучитьОперативнуюОтметкуВремени'
        'ПолучитьПараметрыФункциональныхОпцийИнтерфейса'
        'ПолучитьПолноеИмяПредопределенногоЗначения'
        'ПолучитьПредставленияНавигационныхСсылок'
        'ПолучитьПроверкуСложностиПаролейПользователей'
        'ПолучитьРазделительПути'
        'ПолучитьРазделительПутиКлиента'
        'ПолучитьРазделительПутиСервера'
        'ПолучитьСеансыИнформационнойБазы'
        'ПолучитьСкоростьКлиентскогоСоединения'
        'ПолучитьСоединенияИнформационнойБазы'
        'ПолучитьСообщенияПользователю'
        'ПолучитьСоответствиеОбъектаИФормы'
        'ПолучитьСоставСтандартногоИнтерфейсаOData'
        'ПолучитьСтруктуруХраненияБазыДанных'
        'ПолучитьТекущийСеансИнформационнойБазы'
        'ПолучитьФайл'
        'ПолучитьФайлы'
        'ПолучитьФорму'
        'ПолучитьФункциональнуюОпцию'
        'ПолучитьФункциональнуюОпциюИнтерфейса'
        'ПолучитьЧасовойПоясИнформационнойБазы'
        'ПользователиОС'
        'ПоместитьВоВременноеХранилище'
        'ПоместитьФайл'
        'ПоместитьФайлы'
        'Прав'
        'ПравоДоступа'
        'ПредопределенноеЗначение'
        'ПредставлениеКодаЛокализации'
        'ПредставлениеПериода'
        'ПредставлениеПрава'
        'ПредставлениеПриложения'
        'ПредставлениеСобытияЖурналаРегистрации'
        'ПредставлениеЧасовогоПояса'
        'Предупреждение'
        'ПрекратитьРаботуСистемы'
        'ПривилегированныйРежим'
        'ПрочитатьJSON'
        'ПрочитатьXML'
        'ПрочитатьДатуJSON'
        'ПустаяСтрока'
        'РабочийКаталогДанныхПользователя'
        'РазблокироватьДанныеДляРедактирования'
        'РазделитьФайл'
        'РазорватьСоединениеСВнешнимИсточникомДанных'
        'РаскодироватьСтроку'
        'РольДоступна'
        'Секунда'
        'Сигнал'
        'Символ'
        'СкопироватьЖурналРегистрации'
        'СмещениеЛетнегоВремени'
        'СмещениеСтандартногоВремени'
        'СоздатьКаталог'
        'СоздатьФабрикуXDTO'
        'СокрЛ'
        'СокрЛП'
        'СокрП'
        'Сообщить'
        'Состояние'
        'СохранитьЗначение'
        'СохранитьНастройкиПользователя'
        'Сред'
        'СтрДлина'
        'СтрЗаканчиваетсяНа'
        'СтрЗаменить'
        'СтрНайти'
        'СтрНачинаетсяС'
        'Строка'
        'СтрокаСоединенияИнформационнойБазы'
        'СтрПолучитьСтроку'
        'СтрРазделить'
        'СтрСоединить'
        'СтрСравнить'
        'СтрЧислоВхождений'
        'СтрЧислоСтрок'
        'СтрШаблон'
        'ТекущаяДата'
        'ТекущаяДатаСеанса'
        'ТекущаяУниверсальнаяДата'
        'ТекущаяУниверсальнаяДатаВМиллисекундах'
        'ТекущийВариантИнтерфейсаКлиентскогоПриложения'
        'ТекущийВариантОсновногоШрифтаКлиентскогоПриложения'
        'ТекущийКодЛокализации'
        'ТекущийРежимЗапуска'
        'ТекущийЯзык'
        'ТекущийЯзыкСистемы'
        'Тип'
        'ТипЗнч'
        'ТранзакцияАктивна'
        'ТРег'
        'УдалитьДанныеИнформационнойБазы'
        'УдалитьИзВременногоХранилища'
        'УдалитьОбъекты'
        'УдалитьФайлы'
        'УниверсальноеВремя'
        'УстановитьБезопасныйРежим'
        'УстановитьБезопасныйРежимРазделенияДанных'
        'УстановитьБлокировкуСеансов'
        'УстановитьВнешнююКомпоненту'
        'УстановитьВремяЗавершенияСпящегоСеанса'
        'УстановитьВремяЗасыпанияПассивногоСеанса'
        'УстановитьВремяОжиданияБлокировкиДанных'
        'УстановитьЗаголовокКлиентскогоПриложения'
        'УстановитьЗаголовокСистемы'
        'УстановитьИспользованиеЖурналаРегистрации'
        'УстановитьИспользованиеСобытияЖурналаРегистрации'
        'УстановитьКраткийЗаголовокПриложения'
        'УстановитьМинимальнуюДлинуПаролейПользователей'
        'УстановитьМонопольныйРежим'
        'УстановитьНастройкиКлиентаЛицензирования'
        'УстановитьОбновлениеПредопределенныхДанныхИнформационнойБазы'
        'УстановитьПараметрыФункциональныхОпцийИнтерфейса'
        'УстановитьПривилегированныйРежим'
        'УстановитьПроверкуСложностиПаролейПользователей'
        'УстановитьРасширениеРаботыСКриптографией'
        'УстановитьРасширениеРаботыСФайлами'
        'УстановитьСоединениеСВнешнимИсточникомДанных'
        'УстановитьСоответствиеОбъектаИФормы'
        'УстановитьСоставСтандартногоИнтерфейсаOData'
        'УстановитьЧасовойПоясИнформационнойБазы'
        'УстановитьЧасовойПоясСеанса'
        'Формат'
        'Цел'
        'Час'
        'ЧасовойПояс'
        'ЧасовойПоясСеанса'
        'Число'
        'ЧислоПрописью'
        'ЭтоАдресВременногоХранилища'
        'ACos'
        'ASin'
        'ATan'
        'Base64Value'
        'Base64String'
        'Cos'
        'Exp'
        'Log'
        'Log10'
        'Pow'
        'Sin'
        'Sqrt'
        'Tan'
        'XMLValue'
        'XMLString'
        'XMLType'
        'XMLTypeOf'
        'ActiveWindow'
        'SafeMode'
        'DataSeparationSafeMode'
        'Boolean'
        'InputDate'
        'InputValue'
        'InputString'
        'InputNumber'
        'CanReadXML'
        'DoQueryBox'
        'RestoreValue'
        'Upper'
        'UnloadEventLog'
        'ExecuteNotifyProcessing'
        'VerifyAccessRights'
        'Eval'
        'Year'
        'FormDataToValue'
        'Date'
        'Day'
        'DayOfYear'
        'WeekDay'
        'AddMonth'
        'LockDataForEdit'
        'LockApplication'
        'Exit'
        'LoadAddIn'
        'CloseHelp'
        'WriteJSON'
        'WriteXML'
        'WriteJSONDate'
        'WriteLogEvent'
        'FillPropertyValues'
        'RequestUserPermission'
        'RunApp'
        'RunSystem'
        'CommitTransaction'
        'ValueToFormData'
        'ValueToStringInternal'
        'ValueToFile'
        'ValueIsFilled'
        'ValueFromStringInternal'
        'ValueFromFile'
        'FromXMLType'
        'ImportXDTOModel'
        'ComputerName'
        'UserName'
        'InitializePredefinedData'
        'ErrorInfo'
        'TempFilesDir'
        'DocumentsDir'
        'BinDir'
        'EncodeString'
        'InfoBaseLocaleCode'
        'CharCode'
        'System'
        'EndOfYear'
        'EndOfDay'
        'EndOfQuarter'
        'EndOfMonth'
        'EndOfMinute'
        'EndOfWeek'
        'EndOfHour'
        'DataBaseConfigurationChangedDynamically'
        'ConfigurationChanged'
        'CopyFormData'
        'FileCopy'
        'BriefErrorDescription'
        'Left'
        'Max'
        'ToLocalTime'
        'Month'
        'Min'
        'Minute'
        'ExclusiveMode'
        'Find'
        'FindDisallowedXMLCharacters'
        'FindWindowByURL'
        'FindMarkedForDeletion'
        'FindByRef'
        'FindFiles'
        'BegOfYear'
        'BegOfDay'
        'BegOfQuarter'
        'BegOfMonth'
        'BegOfMinute'
        'BegOfWeek'
        'BegOfHour'
        'BeginRequestingUserPermission'
        'BeginRunningApplication'
        'BeginCopyingFile'
        'BeginMovingFile'
        'BeginAttachingAddIn'
        'BeginAttachingCryptoExtension'
        'BeginAttachingFileSystemExtension'
        'BeginFindingFiles'
        'BeginGettingTempFilesDir'
        'BeginGettingDocumentsDir'
        'BeginGettingUserDataWorkDir'
        'BeginGettingFiles'
        'BeginPutFile'
        'BeginPuttingFiles'
        'BeginCreatingDirectory'
        'BeginTransaction'
        'BeginDeletingFiles'
        'BeginInstallAddIn'
        'BeginInstallCryptoExtension'
        'BeginInstallFileSystemExtension'
        'WeekOfYear'
        'ConnectionStopRequest'
        'InfoBaseSessionNumber'
        'InfoBaseConnectionNumber'
        'Lower'
        'NStr'
        'RefreshInterface'
        'RefreshObjectsNumbering'
        'RefreshReusableValues'
        'UserInterruptProcessing'
        'MergeFiles'
        'Round'
        'ErrorDescription'
        'Notify'
        'NotifyChanged'
        'DetachLicensingClientParametersRequestHandler'
        'DetachIdleHandler'
        'DetachNotificationHandler'
        'OpenValue'
        'OpenHelpIndex'
        'OpenHelpContent'
        'OpenHelp'
        'OpenForm'
        'OpenFormModal'
        'RollbackTransaction'
        'ClearEventLog'
        'ClearUserSettings'
        'ClearMessages'
        'AccessParameters'
        'GotoURL'
        'MoveFile'
        'AttachAddIn'
        'AttachLicensingClientParametersRequestHandler'
        'AttachIdleHandler'
        'AttachNotificationHandler'
        'AttachCryptoExtension'
        'AttachFileSystemExtension'
        'DetailErrorDescription'
        'ShowInputDate'
        'ShowInputValue'
        'ShowInputString'
        'ShowInputNumber'
        'ShowQueryBox'
        'ShowValue'
        'ShowErrorInfo'
        'ShowOnMap'
        'ShowUserNotification'
        'ShowMessageBox'
        'UserFullName'
        'GetCOMObject'
        'GetXMLType'
        'GetAddressByLocation'
        'GetSessionsLock'
        'GetHibernateSessionTerminateTime'
        'GetPassiveSessionHibernateTime'
        'GetLockWaitTime'
        'GetChoiceData'
        'GetLicensingClientAdditionalParameter'
        'GetAvailableLocaleCodes'
        'GetAvailableTimeZones'
        'GetClientApplicationCaption'
        'GetCaption'
        'GetEventLogFilterValues'
        'GetConfigurationID'
        'GetFromTempStorage'
        'GetTempFileName'
        'GetLicensingClientName'
        'GetClientDisplaysInformation'
        'GetEventLogUsing'
        'GetEventLogEventUse'
        'GetShortApplicationCaption'
        'GetAppearanceTemplate'
        'GetAllFilesMask'
        'GetClientAllFilesMask'
        'GetServerAllFilesMask'
        'GetLocationByAddress'
        'GetUserPasswordMinLength'
        'GetURL'
        'GetInfoBaseURL'
        'GetDataBaseConfigurationUpdate'
        'GetInfoBasePredefinedData'
        'GetCommonTemplate'
        'GetCommonForm'
        'GetWindows'
        'GetRealTimeTimestamp'
        'GetInterfaceFunctionalOptionParameters'
        'GetPredefinedValueFullName'
        'GetURLsPresentations'
        'GetUserPasswordStrengthCheck'
        'GetPathSeparator'
        'GetClientPathSeparator'
        'GetServerPathSeparator'
        'GetInfoBaseSessions'
        'GetClientConnectionSpeed'
        'GetInfoBaseConnections'
        'GetUserMessages'
        'GetObjectAndFormConformity'
        'GetStandardODataInterfaceContent'
        'GetDBStorageStructureInfo'
        'GetCurrentInfoBaseSession'
        'GetFile'
        'GetFiles'
        'GetForm'
        'GetFunctionalOption'
        'GetInterfaceFunctionalOption'
        'GetInfoBaseTimeZone'
        'OSUsers'
        'PutToTempStorage'
        'PutFile'
        'PutFiles'
        'Right'
        'AccessRight'
        'PredefinedValue'
        'LocaleCodePresentation'
        'PeriodPresentation'
        'RightPresentation'
        'ApplicationPresentation'
        'EventLogEventPresentation'
        'TimeZonePresentation'
        'DoMessageBox'
        'Terminate'
        'PrivilegedMode'
        'ReadJSON'
        'ReadXML'
        'ReadJSONDate'
        'IsBlankString'
        'UserDataWorkDir'
        'UnlockDataForEdit'
        'SplitFile'
        'DisconnectExternalDataSource'
        'DecodeString'
        'IsInRole'
        'Second'
        'Beep'
        'Char'
        'CopyEventLog'
        'DaylightTimeOffset'
        'StandardTimeOffset'
        'CreateDirectory'
        'CreateXDTOFactory'
        'TrimL'
        'TrimAll'
        'TrimR'
        'Message'
        'Status'
        'SaveValue'
        'SaveUserSettings'
        'Mid'
        'StrLen'
        'StrEndsWith'
        'StrReplace'
        'StrFind'
        'StrStartWith'
        'String'
        'InfoBaseConnectionString'
        'StrGetLine'
        'StrSplit'
        'StrConcat'
        'StrCompare'
        'StrOccurrenceCount'
        'StrLineCount'
        'StrTemplate'
        'CurrentDate'
        'CurrentSessionDate'
        'CurrentUniversalDate'
        'CurrentUniversalDateInMilliseconds'
        'ClientApplicationInterfaceCurrentVariant'
        'ClientApplicationBaseFontCurrentVariant'
        'CurrentLocaleCode'
        'CurrentRunMode'
        'CurrentLanguage'
        'CurrentSystemLanguage'
        'Type'
        'TypeOf'
        'TransactionActive'
        'Title'
        'EraseInfoBaseData'
        'DeleteFromTempStorage'
        'DeleteObjects'
        'DeleteFiles'
        'ToUniversalTime'
        'SetSafeMode'
        'SetDataSeparationSafeMode'
        'SetSessionsLock'
        'InstallAddIn'
        'SetHibernateSessionTerminateTime'
        'SetPassiveSessionHibernateTime'
        'SetLockWaitTime'
        'SetClientApplicationCaption'
        'SetCaption'
        'SetEventLogUsing'
        'SetEventLogEventUse'
        'SetShortApplicationCaption'
        'SetUserPasswordMinLength'
        'SetExclusiveMode'
        'SetLicensingClientParameters'
        'SetInfoBasePredefinedDataUpdate'
        'SetInterfaceFunctionalOptionParameters'
        'SetPrivilegedMode'
        'SetUserPasswordStrengthCheck'
        'InstallCryptoExtension'
        'InstallFileSystemExtension'
        'ConnectExternalDataSource'
        'SetObjectAndFormConformity'
        'SetStandardODataInterfaceContent'
        'SetInfoBaseTimeZone'
        'SetSessionTimeZone'
        'Format'
        'Int'
        'Hour'
        'TimeZone'
        'SessionTimeZone'
        'Number'
        'NumberInWords'
        'IsTempStorageURL'
        'WSСсылки'
        'БиблиотекаКартинок'
        'БиблиотекаМакетовОформленияКомпоновкиДанных'
        'БиблиотекаСтилей'
        'БизнесПроцессы'
        'ВнешниеИсточникиДанных'
        'ВнешниеОбработки'
        'ВнешниеОтчеты'
        'ГлавныйИнтерфейс'
        'ГлавныйСтиль'
        'Документы'
        'ДоставляемыеУведомления'
        'ЖурналыДокументов'
        'Задачи'
        'ИспользованиеРабочейДаты'
        'ИсторияРаботыПользователя'
        'Константы'
        'КритерииОтбора'
        'Метаданные'
        'Обработки'
        'ОтправкаДоставляемыхУведомлений'
        'Отчеты'
        'ПараметрЗапуска'
        'ПараметрыСеанса'
        'Перечисления'
        'ПланыВидовРасчета'
        'ПланыВидовХарактеристик'
        'ПланыОбмена'
        'ПланыСчетов'
        'ПолнотекстовыйПоиск'
        'ПользователиИнформационнойБазы'
        'Последовательности'
        'РабочаяДата'
        'РасширенияКонфигурации'
        'РегистрыБухгалтерии'
        'РегистрыНакопления'
        'РегистрыРасчета'
        'РегистрыСведений'
        'РегламентныеЗадания'
        'СериализаторXDTO'
        'Справочники'
        'СредстваГеопозиционирования'
        'СредстваКриптографии'
        'СредстваМультимедиа'
        'СредстваПочты'
        'СредстваТелефонии'
        'ФабрикаXDTO'
        'ФоновыеЗадания'
        'ХранилищаНастроек'
        'ХранилищеВариантовОтчетов'
        'ХранилищеНастроекДанныхФорм'
        'ХранилищеОбщихНастроек'
        'ХранилищеПользовательскихНастроекДинамическихСписков'
        'ХранилищеПользовательскихНастроекОтчетов'
        'ХранилищеСистемныхНастроек'
        'WSReferences'
        'PictureLib'
        'DataCompositionAppearanceTemplateLib'
        'StyleLib'
        'BusinessProcesses'
        'ExternalDataSources'
        'ExternalDataProcessors'
        'ExternalReports'
        'MainInterface'
        'MainStyle'
        'Documents'
        'DeliverableNotifications'
        'DocumentJournals'
        'Tasks'
        'WorkingDateUse'
        'UserWorkHistory'
        'Constants'
        'FilterCriteria'
        'Metadata'
        'DataProcessors'
        'DeliverableNotificationSend'
        'Reports'
        'LaunchParameter'
        'SessionParameters'
        'Enums'
        'ChartsOfCalculationTypes'
        'ChartsOfCharacteristicTypes'
        'ExchangePlans'
        'ChartsOfAccounts'
        'FullTextSearch'
        'InfoBaseUsers'
        'Sequences'
        'WorkingDate'
        'ConfigurationExtensions'
        'AccountingRegisters'
        'AccumulationRegisters'
        'CalculationRegisters'
        'InformationRegisters'
        'ScheduledJobs'
        'XDTOSerializer'
        'Catalogs'
        'LocationTools'
        'CryptoToolsManager'
        'MultimediaTools'
        'MailTools'
        'TelephonyTools'
        'XDTOFactory'
        'BackgroundJobs'
        'SettingsStorages'
        'ReportsVariantsStorage'
        'FormDataSettingsStorage'
        'CommonSettingsStorage'
        'DynamicListsUserSettingsStorage'
        'ReportsUserSettingsStorage'
        'SystemSettingsStorage'
    ]
